{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "12", // Adjust to your target Node.js version
          "esmodules":"true"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-class-properties"
  ]
}